---


export interface Props {
	title: string;
	info: string;
}

const { title, info } = Astro.props;
---

<section class="about-section">
    <div class="about">
        <div class="about-img-container">
            <button class="download-cd-btn">Download Resume</button>
        </div>
        <p class="about-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
            mollit anim id est laborum.
        </p>
    </div>
</section>

<style>
    .about {
        grid-template-columns: 30% 65%;
        grid-gap: 40px;
        @apply w-full grid;
    }
</style>