---
export interface Props {
	title: string;
	name: string;
	body: string;
}

const { title, name, body } = Astro.props;
---


<header>
	<h1 class="squiggles">{title}</h1><hr/>
	<h2 class="text-3xl mt-5 mb-5">{name}</h2>
	<h3 class="text-xl">{body}</h3>
</header>


<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="squiggly-filters">
	<defs>
		<filter id="squiggly-0">
			<feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="0" />
			<feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="6" />
		</filter>

		<filter id="squiggly-1">
			<feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="1" />
			<feDisplacementMap in="SourceGraphic" in2="noise" scale="8" />
		</filter>

		<filter id="squiggly-2">
			<feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="2" />
			<feDisplacementMap in="SourceGraphic" in2="noise" scale="6" />
		</filter>

		<filter id="squiggly-3">
			<feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="3" />
			<feDisplacementMap in="SourceGraphic" in2="noise" scale="8" />
		</filter>

		<filter id="squiggly-4">
			<feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="4" />
			<feDisplacementMap in="SourceGraphic" in2="noise" scale="6" />
		</filter>
	</defs>
</svg>

<style>
	header h1, header h3 {
		font-family: 'Coming Soon', cursive;
		@apply text-white;
	}

	header h1 {
		@apply text-white text-8xl font-light;
	}
</style>