<header class="nav-header">
    <div class="nav-container">
        <a class="nav-title" href="/" target="_blank">
            <span>Domigraphics.</span>
        </a>

        <nav>
            <a href="/"><i class='bx bx-home'></i> Home</a>
            <a href="#projects"><i class='bx bx-folder'></i> Projects</a>
            <a href="#about"><i class='bx bx-user'></i> About</a>
	        <a href="#contact"><i class='bx bx-envelope'></i> Contact</a>
        </nav>
    </div>
</header>

<style>
    .nav-header {
        @apply text-slate-300;
    }

    .nav-container {
        @apply container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center;
    }

    .nav-container nav {
        @apply md:ml-auto flex flex-wrap items-center text-base justify-center;
    }

    .nav-container nav a {
        @apply mr-5 hover:text-teal-300;
    }

    .nav-title {
        @apply flex font-medium items-center text-gray-300 mb-4 md:mb-0;
    }

    .nav-title span {
        @apply ml-3 text-xl;
    }
</style>