---
export interface Props {
	title: string;
	info: string;
	href: string;
    link: string;
}

const { title, info, href, link } = Astro.props;
---

<div class="project-card">
    <img src={href} class="project-img" alt="" />
    <div class="project-content">
        <h1 class="project-title">{title}</h1>
        <p class="project-info">{info}</p>
        <div class="project-btn-grp">
            <button class="project-btn github">{link}</button>
        </div>
    </div>
</div>

<style>
    
</style>
