---
export interface Props {
	level: string;
    name: string;
    info: string;
}

const { level, name, info, image } = Astro.props;
---

<div class="skill-card">
    <img src={`${image}`} class="skill-img" alt="">
    <div class="skill-level">{level}</div>
    <h1 class="skill-name">{name}</h1>
    <p class="skill-info">{info}</p>
</div>
