---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Roboto+Mono&display=swap');

	html, body {
		@apply w-full h-full;
		font-family: 'Roboto Mono', monospace;
		background: #D7D6D6;
	}

	* {
		@apply box-border m-0 p-0;
	}

	*:active {
		@apply outline-none;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	main {
		@apply bg-slate-900;
	}

	main > *:target {
		@apply block;
		-webkit-animation: fade 500ms linear 1;
		animation: fade 600ms linear 1;
	}

	section:not(:target):not(#home),
	section:target ~ #home {
		display: none;
	}

	::-webkit-scrollbar {
		@apply w-0.5 h-0 overflow-hidden;
	}

	::-webkit-scrollbar-track {
		@apply bg-slate-600;
	}

	::-webkit-scrollbar-thumb {
		@apply border-r-2 bg-blue-300;
	}

	.squiggles {
		animation: squiggly-anim 0.35s linear infinite;
	}

	@keyframes squiggly-anim {
		0% {
			filter: url("#squiggly-0");
		}

		25% {
			filter: url("#squiggly-1");
		}

		50% {
			filter: url("#squiggly-2");
		}

		75% {
			filter: url("#squiggly-3");
		}

		100% {
			filter: url("#squiggly-4");
		}
	}
	
	@-webkit-keyframes fade {
		0% { opacity: 0; }
		50% { opacity: 0.5; }
		100% { opacity: 1; }
	}

	@keyframes fade {
		0% { opacity: 0; }
		50% { opacity: 0.5; }
		100% { opacity: 1; }
	}
</style>
